/*import*/
/*dimension*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*general*/
body {
  max-width: 500px;
  min-width: 300px;
  margin: auto;
  padding: 0;
  background-color: white;
  cursor: pointer;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*web site colors*/
/*background font site*/
/*box shadow*/
/*typography*/
/*button*/
/*home page*/
h2 {
  font-size: xx-large;
  font-family: "roboto", "sans-serif";
}

header {
  width: 100%;
  height: 5%;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.659);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.659);
  padding: 20px 0 15px 0;
}

header h1 {
  width: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header h1 img {
  width: 35%;
}

#location {
  width: 100%;
  height: 5%;
  padding: 15px;
  background-color: #e1e3e5b3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#location input {
  border: none;
  background-color: #e1e3e53b;
  font-family: "roboto", "sans-serif";
  font-size: medium;
  font-weight: bold;
}

#location i {
  font-size: large;
  padding-right: 10px;
}

#intro {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px 50px 10px;
  font-family: "roboto", "sans-serif";
  background-color: #e1e3e548;
}

#intro .intro__title {
  margin: 0;
  font-size: xx-large;
  text-align: center;
  padding-top: 20px;
}

#intro .intro__description {
  padding: 0 10px 20px 10px;
  font-size: large;
  color: grey;
  text-align: center;
}

#intro .btn {
  font-size: large;
  border: none;
  border-radius: 35px;
  padding: 20px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.222);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.222);
  background: radial-gradient(ellipse at top, #ff93e1 10%, #782cd3 100%);
  color: #fff;
  position: relative;
  z-index: 1;
}

#intro .btn:hover::after {
  opacity: 1;
}

#intro .btn::after {
  border: none;
  border-radius: 35px;
  -webkit-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.599);
          box-shadow: 0 8px 10px rgba(0, 0, 0, 0.599);
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: radial-gradient(ellipse at top, #ffc6ef 20%, #9052db 70%);
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
}

#tuto {
  width: 100%;
  height: 20%;
  font-family: "roboto", "sans-serif";
  padding: 10px;
}

#tuto nav {
  width: 100%;
  height: 90%;
}

#tuto nav .tuto__list {
  width: 97%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#tuto nav .tuto__list .tuto__list--btn {
  font-size: large;
  padding: 25px 25px 30px 0;
  background-color: #e1e3e548;
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.222);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.222);
  margin-bottom: 20px;
}

#tuto nav .tuto__list .tuto__list--btn:hover {
  background-color: #9256dc21;
  -webkit-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.599);
          box-shadow: 0 8px 10px rgba(0, 0, 0, 0.599);
}

#tuto nav .tuto__list .tuto__list--btn .number {
  font-size: 12px;
  background-color: #9356dc;
  color: white;
  border: none;
  border-radius: 100px;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

#tuto nav .tuto__list .tuto__list--btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

#tuto nav .tuto__list .tuto__list--btn i {
  font-size: x-large;
  color: grey;
  padding: 0 40px 0 40px;
}

#tuto nav .tuto__list .tuto__list--btn i:hover {
  color: #9356dc;
}

#tuto nav .tuto__list .tuto__list--btn p {
  font-size: larger;
  margin: 0;
}

#restaurants {
  font-family: "roboto", "sans-serif";
  width: 100%;
  height: 65%;
  background-color: #e1e3e548;
  padding: 20px;
}

#restaurants .restaurants__set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#restaurants .card {
  border: none;
  width: 97%;
  border-radius: 20px;
  background-color: #fff;
  margin-bottom: 25px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.222);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.222);
}

#restaurants .card:hover {
  -webkit-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.599);
          box-shadow: 0 8px 10px rgba(0, 0, 0, 0.599);
}

#restaurants .card__img {
  border: none;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}

#restaurants .card__new {
  margin: 0;
  width: 84px;
  margin-left: 340px;
  margin-top: -230px;
  background-color: #99e2d0;
  text-align: center;
  color: #0e906f;
  font-weight: bold;
  padding: 8px;
  border: none;
  border-radius: 3px;
  position: absolute;
}

#restaurants .card #palette, #restaurants .card #note, #restaurants .card #francaise, #restaurants .card #delice {
  margin: 0;
  padding: 10px 0 2px 10px;
  color: black;
}

#restaurants .card__location {
  margin: 0;
  padding: 0 0 20px 10px;
  color: black;
  font-weight: lighter;
}

#restaurants .card .heart {
  border: #0e906f solid;
  width: 27px;
  height: 30px;
  position: absolute;
  margin-left: 380px;
  margin-top: -55px;
}

#footer {
  background-color: rgba(35, 30, 30, 0.948);
  color: white;
}

#footer h5 {
  font-family: "shrikhand", "sans-serif";
  font-size: large;
  margin: 0;
  padding: 20px;
}

#footer ul {
  margin: 0;
  padding: 0 20px 40px 20px;
}

#footer ul li {
  padding: 5px;
}

#footer ul a {
  color: white;
  font-family: "roboto", "sans-serif";
}

#footer ul a .forks {
  font-size: medium;
  padding-right: 10px;
}

#footer ul a .hand {
  font-size: small;
  padding-right: 10px;
}

/*restaurants*/
.picture {
  width: 100%;
}

.picture img {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */