/*import*/
@import "./base/_base";
@import "./components/_buttons";
@import "./layouts/_container";
@import "./layouts/_footer";
@import "./layouts/_header";
@import "./utils/_functions";
@import "./utils/_mixins";
@import "./utils/_placeholders";
@import "./utils/_variables";


/*home page*/

h2{
    font-size:larger;
    font-family: $police-txt;
}

header{
    width: 100%;
    height: 5%;
    box-shadow:$shadow-ligthen;
    padding: 20px 0 15px 0;
    z-index: 1;
    position: relative;
    h1{
        width: 100%;
        margin: 0;
        text-align: center;
    img{
        width: 35%;
    }
    }
}

#location{
    width: 100%;
    height: 5%;
    padding: 15px;
    background-color: $clr-bg;
    display: flex;
    justify-content: center;
    input{
        width: 65%;
        text-align: right;
        border: none;
        background-color: #e1e3e53b;
        font-family: $police-txt;
        font-size:medium; 
        font-weight: bold;   
    }
    i{
        font-size: large;
    }
}


#intro{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 50px 10px;
    font-family: $police-txt;
    background-color: $clr-bg-lighten;
    .intro__title{
        margin: 0;
        font-size:larger;
        text-align: center;
        padding-top: 20px;
    }
    .intro__description{
        padding: 0 10px 20px 10px;
        font-size:medium;
        color: grey;
        text-align: center;
    }
}

#btn{
    cursor: pointer;
    width: 70%;
    font-size:small;
    border: none;
    border-radius: 35px;
    padding: 15px;
    box-shadow: $shadow-ligthen;
    background: linear-gradient(to bottom right, lighten($clr-secondary,5)10%,darken($clr-primary,10)100%);
    color: #fff;
    position: relative;
    z-index: 1;
    &:hover {
        &::after{
            opacity: 1;
        }
    }
    &::after{
        border: none;
        border-radius: 35px;
        box-shadow: $shadow-darken;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: linear-gradient(to bottom right, lighten($clr-secondary,15)20%,darken($clr-primary,1)70%);
        z-index: -1;
        opacity: 0;
        transition: opacity 250ms;
    }

}


#tuto{
    width: 100%;
    height: 20%;
    font-family: $police-txt;
    padding: 10px;
    nav{
        width: 100%;
        height: 90%;
        .tuto__list{
            width: 97%;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items:stretch;
            position: relative;
            &__btn{
                font-size:small;
                padding: 15px 0 15px 0;
                background-color: $clr-bg-lighten;
                border: none;
                border-radius: 20px;
                box-shadow: $shadow-ligthen;
                margin-bottom: 20px;
                &:hover{
                    background-color: $clr-bg-primary-lighten;
                    box-shadow: $shadow-darken;
                }
                &:hover i{
                    color: $clr-primary;
                }
                .number{
                    font-size:12px;
                    background-color: $clr-primary;
                    color: white;
                    border: none;
                    border-radius: 100px;
                    width: 20px;
                    height: 20px;
                    margin-left: -10px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    }
                a{
                    display: flex;
                    align-items: center;
                    color: black;
                }
                i{
                    font-size: large;
                    color: grey;
                    padding:0 20px 0 20px;    
                }
                span{
                    font-size:small;
                    margin: 0;
                    
                }
                
            }
        }
    
        }
    }
    

#restaurants{
    font-family: $police-txt;
    width: 100%;
    height: 65%;
    background-color: $clr-bg-lighten;
    padding: 20px;
    .restaurants__set{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card{
        border:none;
        width: 97%;
        border-radius: 20px;
        background-color: #fff;
        margin-bottom: 25px;
        box-shadow: $shadow-ligthen;
        position: relative;
        &:hover{
            box-shadow: $shadow-darken;
        }
        &__img{
            border: none;
            border-radius: 20px 20px 0 0;
            width: 100%;
            height: 135px;
            object-fit:cover;
        }
        &__new{
            margin: 0;
            width: 30%;
            top: 10px;
            right: 10px;
            background-color: $clr-tertiary;
            text-align: center;
            color: #0e906f;
            font-weight: bold;
            padding: 8px;
            border: none;
            border-radius: 3px;
            position: absolute;
        }
        #palette,#note,#francaise,#delice{
            margin: 0;
            font-size: large;
            padding: 10px 0 2px 10px;
            color: black;
        }
        &__location{
            margin: 0;
            padding: 0 0 20px 10px;
            color: black;
            font-size: medium;
            font-weight: lighter;
        }
        .heart{
            border: #0e906f solid;
            width: 24px;
            height: 27px;
            position: absolute;
            bottom: 35px;
            right: 15px;
            
        }
        

    }
}    

#footer{
    background-color: $clr-bg-footer;
    color: white;
    h5{
        font-family: $police-logo-title;
        font-size:large;
        margin: 0;
        padding: 20px;
    }
    ul{
        margin: 0;
        padding: 0 20px 40px 20px;
        li{
            padding: 5px;
        }
        a{
            color: white;
            font-family: $police-txt;
            .forks{
                font-size:medium;
                padding-right: 10px;
            }
            .hand{
                font-size:small;
                padding-right: 10px;

            }
        }
    }
}


/*restaurants*/

#header_resto{
display: flex;
justify-content: center;
align-items: center;
    .arrow{
        padding-left: 20px;
        font-size: large;
        color: black;
    }
    h1{
        width: 100%;
        img{
            width: 45%;
            
        }
    }
}

.picture{
    width: 100%;
    height: 11%;
    position: relative;

    img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    .title{
        border:none;
        display: flex;
        justify-content:space-between;
        background-color: $clr-bg-lighten;
        border-radius: 35px 35px 0 0;
        position: absolute;
        width: 100%;
        margin-top: -50px;
    
        &__resto{
            font-family: $police-logo-title;
            font-size:x-large;
            font-weight: lighter;
            padding: 20px 0 0 20px;
            margin: 0;
            position: relative;
        }
        &__heart{
            border: #0e906f solid;
            width: 27px;
            position: absolute;
            right: 20px;
            top: 20px;
            .title__heart:hover{
                background-color: $clr-primary;
            }

        }
    }
}

.menu{
    width: 100%;
    height: 74%;
    background-color: $clr-bg-lighten;
    padding: 20px;
    font-family: $police-txt;
    .title_underline{
        border-bottom: $clr-tertiary solid 3px;
        padding-bottom: 3px;
    }
    .order{
        border: none;
        border-radius: 20px;
        background-color: white;
        box-shadow: $shadow-ligthen;
        margin: 25px 0 25px 0;
        position: relative;
        &:hover{
            box-shadow: $shadow-darken;
        }
        &__name{
            margin: 0;
            font-size: 15px;
            padding: 10px 0 5px 10px;
        }
        &__name--with{
            margin: 0;
            padding: 0 0 10px 10px;
            font-size: 12.5px;
            font-weight: lighter;
        }
        &__price{
            border: orangered solid;
            width: 10%;
            right: 20px;
            bottom: -10px;
            font-weight: bold;
            position: absolute;
        }
        &__spin{
            border: yellow solid;
            position: absolute;
            font-size: large;
            right: 40px;
            bottom: -27px;
        }
    }

}

/*set button restaurant*/
.btn_resto{
    background-color: $clr-bg-lighten;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}