@charset "UTF-8";
/*import*/
/*web site colors*/
/*background font site*/
/*box shadow*/
/*typography*/
/*---------------------------------loader-------------------------*/
/*keyframes loader*/
/*turn loader*/
@-webkit-keyframes clockwise {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes clockwise {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes unclockwise {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  25% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  50% {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
  75% {
    -webkit-transform: rotate(-225deg);
            transform: rotate(-225deg);
  }
  100% {
    -webkit-transform: rotate(-315deg);
            transform: rotate(-315deg);
  }
}

@keyframes unclockwise {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  25% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  50% {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
  75% {
    -webkit-transform: rotate(-225deg);
            transform: rotate(-225deg);
  }
  100% {
    -webkit-transform: rotate(-315deg);
            transform: rotate(-315deg);
  }
}

/*apparition loading*/
@-webkit-keyframes loading {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loading {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

/*-----------------------------end loader---------------------------*/
/*-------------------gradualonset-----------------------------*/
/* cf container restaurants pages*/
/*animation gradual on set*/
@-webkit-keyframes gradualonset {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@keyframes gradualonset {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

/*-----------------end animation gradual pages----------------*/
/*dimension*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*general*/
body {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: larger;
  font-family: "roboto", "sans-serif";
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*typographie cf utils/variables*/
/* sur les écrans, quand la largeur de la fenêtre est comprise entre 768px et 992px*/
/*tablette*/
@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    max-width: 992px;
    min-width: 768px;
    -webkit-box-shadow: 0 5px 10px #e6e6e6;
            box-shadow: 0 5px 10px #e6e6e6;
  }
  /*----------home page------------------*/
  /*section2/presenation*/
  #intro {
    margin: 0;
  }
  #intro .intro__description {
    margin: 0;
  }
  /*section3/tutorial*/
  #tuto {
    width: 100%;
  }
  #tuto .tuto__list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
  }
  #tuto .tuto__list__btn {
    width: 33%;
    margin: 15px;
  }
  /*section4/restaurants*/
  #restaurants {
    width: 100%;
  }
  #restaurants .restaurants__set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #restaurants .restaurants__set .card {
    width: 33%;
    margin: 15px;
  }
  /*footer media query desktop*/
  #footer {
    width: 100%;
    text-align: center;
  }
  #footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  #footer ul li {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /*------------restaurants pages-----------------------*/
  /*section2/3/4 menu/starter/main course/deserts*/
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    background-color: #f6f6f6;
  }
  .menu .menu__starter,
  .menu .menu__maincourse,
  .menu .menu__deserts {
    width: 33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu .menu__starter .order,
  .menu .menu__maincourse .order,
  .menu .menu__deserts .order {
    width: 97%;
  }
}

/*---------------------------------end tablette-----------------------------------*/
/*sur les écrans, quand la largeur de la fenêtre est > à 992px*/
/*desktop*/
@media screen and (min-width: 992px) {
  body {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 992px;
    max-width: none;
    max-height: 1080px;
  }
  h2 {
    text-align: center;
    margin: 10px;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /*----------home page------------------*/
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header h1 {
    width: 50%;
  }
  /*section2/presenation*/
  #intro {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  #intro .intro__description {
    margin: 0;
  }
  /*section3/tutorial*/
  #tuto {
    width: 100%;
  }
  #tuto .tuto__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
  }
  #tuto .tuto__list__btn {
    width: 25%;
    margin-right: 30px;
  }
  /*section4/restaurants*/
  #restaurants {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #restaurants .restaurants__set {
    width: 60%;
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #restaurants .restaurants__set .card {
    width: 34%;
  }
  /*footer media query desktop*/
  #footer {
    width: 100%;
    text-align: center;
  }
  #footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  #footer ul li {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /*------------restaurants pages-----------------------*/
  /*section2/3/4 menu/starter/main course/deserts*/
  #header_resto h1 {
    width: 50%;
    text-align: left;
  }
  .picture {
    width: 80%;
    padding-bottom: 50px;
    background-color: #f6f6f6;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    background-color: #f6f6f6;
  }
  .menu .menu__starter,
  .menu .menu__maincourse,
  .menu .menu__deserts {
    width: 100%;
    padding-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu .menu__starter .order,
  .menu .menu__maincourse .order,
  .menu .menu__deserts .order {
    width: 70%;
  }
  .btn_resto {
    width: 80%;
    padding: 40px;
  }
}

#btn {
  cursor: pointer;
  width: 190px;
  font-size: small;
  border: none;
  border-radius: 35px;
  padding: 15px;
  -webkit-box-shadow: 0 5px 10px #e6e6e6;
          box-shadow: 0 5px 10px #e6e6e6;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(10%, #ff93e1), to(#782cd3));
  background: linear-gradient(to bottom right, #ff93e1 10%, #782cd3 100%);
  color: #fff;
  position: relative;
  z-index: 1;
}

#btn:hover::after {
  opacity: 1;
}

#btn::after {
  border: none;
  border-radius: 35px;
  -webkit-box-shadow: 0 8px 10px lightgray;
          box-shadow: 0 8px 10px lightgray;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(20%, #ffc6ef), color-stop(70%, #9052db));
  background: linear-gradient(to bottom right, #ffc6ef 20%, #9052db 70%);
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
}

/*set button restaurant*/
.btn_resto {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 40px;
}

/*----------home page------------------*/
/*header cf--->layouts/header*/
/*section1/research*/
#location {
  width: 100%;
  padding: 10px;
  background-color: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#location span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#location input {
  width: 65%;
  text-align: center;
  border: none;
  background-color: #e1e3e53b;
  font-family: "roboto", "sans-serif";
  font-size: small;
  color: #353535;
}

#location i {
  font-size: large;
  color: #353535;
}

/*section2/presenation + button cf---> components/buttons*/
#intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px 25px 10px;
  font-family: "roboto", "sans-serif";
  background-color: #f6f6f6;
}

#intro .intro__title {
  margin: 0;
  font-size: larger;
  text-align: center;
  padding-top: 10px;
}

#intro .intro__description {
  padding: 0 10px 20px 10px;
  font-size: medium;
  color: #5c5c5c;
  text-align: center;
}

/*section3/tutorial*/
#tuto {
  width: 100%;
  font-family: "roboto", "sans-serif";
  padding: 10px;
  cursor: pointer;
}

#tuto nav {
  width: 100%;
}

#tuto nav .tuto__list {
  width: 98%;
  padding: 10px;
}

#tuto nav .tuto__list__btn {
  font-size: small;
  padding: 15px 0 15px 0;
  background-color: #f6f6f6;
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 10px #e6e6e6;
          box-shadow: 0 5px 10px #e6e6e6;
  margin-bottom: 20px;
}

#tuto nav .tuto__list__btn:hover {
  background-color: #f5edff;
  -webkit-box-shadow: 0 8px 10px lightgray;
          box-shadow: 0 8px 10px lightgray;
}

#tuto nav .tuto__list__btn:hover i {
  color: #9356dc;
}

#tuto nav .tuto__list__btn .number {
  font-size: 12px;
  background-color: #9356dc;
  color: white;
  border: none;
  border-radius: 100px;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

#tuto nav .tuto__list__btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#tuto nav .tuto__list__btn i {
  font-size: large;
  color: #7e7e7e;
  padding: 0 20px 0 20px;
}

#tuto nav .tuto__list__btn span {
  font-size: small;
  margin: 0;
}

/*section4/restaurants + heart--->cf components/animationheart*/
#restaurants {
  font-family: "roboto", "sans-serif";
  width: 100%;
  background-color: #f6f6f6;
  padding: 10px;
  cursor: pointer;
}

#restaurants .card {
  border: none;
  width: 97%;
  border-radius: 20px;
  background-color: #fff;
  margin-bottom: 25px;
  -webkit-box-shadow: 0 5px 10px #e6e6e6;
          box-shadow: 0 5px 10px #e6e6e6;
  position: relative;
}

#restaurants .card:hover {
  -webkit-box-shadow: 0 8px 10px lightgray;
          box-shadow: 0 8px 10px lightgray;
}

#restaurants .card__img {
  border: none;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 135px;
  -o-object-fit: cover;
     object-fit: cover;
}

#restaurants .card__new {
  margin: 0;
  width: 80px;
  top: 10px;
  right: 10px;
  background-color: #99e2d0;
  text-align: center;
  color: #0e906f;
  font-weight: bold;
  padding: 8px;
  border: none;
  border-radius: 3px;
  position: absolute;
}

#restaurants .card #palette,
#restaurants .card #note,
#restaurants .card #francaise,
#restaurants .card #delice {
  margin: 0;
  font-size: large;
  padding: 10px 0 2px 10px;
  color: black;
}

#restaurants .card__location {
  margin: 0;
  padding: 0 0 20px 10px;
  color: #5c5c5c;
  font-size: medium;
  font-weight: lighter;
}

/*footer cf--->layouts/footer*/
/*------------restaurants pages-----------------------*/
/*header cf--->layouts/header*/
/*section1/picture + restaurant name + heart--->cf components/animationheart */
/* + animationgradual cf--->components/animationsgradualonset*/
.picture {
  height: 11%;
  position: relative;
}

.picture img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.picture .title {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f6f6f6;
  border-radius: 35px 35px 0 0;
  position: absolute;
  width: 100%;
  margin-top: -50px;
}

.picture .title__resto {
  font-family: "shrikhand", "sans-serif";
  font-size: x-large;
  font-weight: lighter;
  padding: 20px 0 0 20px;
  margin: 0;
  position: relative;
}

/*section2/3/4 menu/starter/main course/deserts ---> cf components/animationspinandcheck*/
/*footer cf--->layouts/footer*/
#footer {
  height: 10%;
  background-color: #353535;
  color: white;
}

#footer h5 {
  font-family: "shrikhand", "sans-serif";
  font-size: large;
  margin: 0;
  padding: 20px;
}

#footer ul {
  margin: 0;
  padding: 0 20px 40px 20px;
}

#footer ul li {
  padding: 5px;
}

#footer ul a {
  color: white;
  font-family: "roboto", "sans-serif";
}

#footer ul a .forks {
  font-size: medium;
  padding-right: 10px;
}

#footer ul a .hand {
  font-size: small;
  padding-right: 10px;
}

/*header home page*/
header {
  -webkit-box-shadow: 0 8px 10px lightgray;
          box-shadow: 0 8px 10px lightgray;
  padding: 20px 0 15px 0;
}

header h1 {
  margin: 0;
  text-align: center;
}

header h1 img {
  width: 40%;
}

/*header restaurants pages*/
#header_resto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header_resto h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header_resto .arrow {
  font-size: large;
  color: black;
}

/*loader*/
/*cf keyframes in util/functions*/
.spinner-box {
  margin: 0;
  top: 200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  font-family: "shrikhand", "sans-serif";
  font-size: xx-large;
  text-shadow: 0 8px 10px lightgray;
  pointer-events: none;
}

.spinner-box .border-1 {
  width: 220px;
  height: 220px;
  padding: 6px;
  position: absolute;
  z-index: 999;
  background: -webkit-gradient(linear, right bottom, left top, from(#9356dc), to(#99e2d0));
  background: linear-gradient(to top left, #9356dc 0%, #99e2d0 100%);
  -webkit-animation: clockwise 2000ms ease 0s infinite alternate, loading 2500ms both;
          animation: clockwise 2000ms ease 0s infinite alternate, loading 2500ms both;
}

.spinner-box .border-2 {
  width: 220px;
  height: 220px;
  padding: 3px;
  z-index: 999;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background: linear-gradient(to bottom, #9356dc 0%, #ff79da 100%);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: unclockwise 1900ms ease 0s infinite alternate, loading 2500ms both;
          animation: unclockwise 1900ms ease 0s infinite alternate, loading 2500ms both;
}

.spinner-box .intern {
  width: 100%;
  height: 100%;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.spinner-box::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 999;
  -webkit-animation: loading 2500ms forwards;
          animation: loading 2500ms forwards;
}

/*restaurants pages*/
/*animation gradual On Set*/
/*keyframes cf---> utils/functions*/
.anim--1 {
  -webkit-animation: gradualonset 1000ms;
          animation: gradualonset 1000ms;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.anim--2 {
  -webkit-animation: gradualonset 1300ms;
          animation: gradualonset 1300ms;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.anim--3 {
  -webkit-animation: gradualonset 1600ms;
          animation: gradualonset 1600ms;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.anim--4 {
  -webkit-animation: gradualonset 1900ms;
          animation: gradualonset 1900ms;
  -webkit-transform-origin: top;
          transform-origin: top;
}

/*heart animation*/
/*homepage*/
.hearthp {
  width: 27px;
  position: relative;
  bottom: 30px;
  right: 15px;
  stroke-width: 20;
  stroke: black;
  fill: white;
}

.heart--full {
  stroke: none;
  fill: url(#heart-fill);
  position: absolute;
}

.heart--empty {
  position: absolute;
}

.heart--empty:hover {
  opacity: 0;
  -webkit-transition: 500ms;
  transition: 500ms;
}

/*restaurants*/
.heart {
  width: 27px;
  position: relative;
  bottom: 2px;
  right: 12px;
  stroke-width: 20;
  stroke: black;
  fill: #f6f6f6;
}

.heart--full {
  stroke: none;
  fill: url(#heart-fill);
  position: absolute;
}

.heart--empty {
  position: absolute;
}

.heart--empty:hover {
  opacity: 0;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.menu__starter,
.menu__maincourse,
.menu__deserts {
  background-color: #f6f6f6;
  padding: 20px 10px 20px 10px;
  font-family: "roboto", "sans-serif";
}

.menu__starter .title_underline,
.menu__maincourse .title_underline,
.menu__deserts .title_underline {
  border-bottom: #99e2d0 solid 3px;
  padding-bottom: 3px;
}

.menu__starter .order,
.menu__maincourse .order,
.menu__deserts .order {
  margin: 25px 0 25px 0;
  border: none;
  border-radius: 15px;
  background-color: white;
  -webkit-box-shadow: 0 5px 10px #e6e6e6;
          box-shadow: 0 5px 10px #e6e6e6;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__starter .order:hover .order__spin,
.menu__maincourse .order:hover .order__spin,
.menu__deserts .order:hover .order__spin {
  -webkit-box-shadow: 0 8px 10px lightgray;
          box-shadow: 0 8px 10px lightgray;
  width: 20%;
}

.menu__starter .order__name,
.menu__maincourse .order__name,
.menu__deserts .order__name {
  margin: 0;
  font-size: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #111111;
  padding: 10px 0 5px 10px;
}

.menu__starter .order__name__with,
.menu__maincourse .order__name__with,
.menu__deserts .order__name__with {
  margin: 0;
  padding: 2px 0 3px 0;
  font-size: 12.5px;
  font-weight: lighter;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #5c5c5c;
}

.menu__starter .order__price,
.menu__maincourse .order__price,
.menu__deserts .order__price {
  margin: 0;
  padding-top: 25px;
  padding-right: 15px;
  font-weight: bold;
  color: #111111;
}

.menu__starter .order__spin,
.menu__maincourse .order__spin,
.menu__deserts .order__spin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background-color: #99e2d0;
  width: 0;
  color: white;
  border-radius: 0 15px 15px 0;
  -webkit-transition: width 500ms;
  transition: width 500ms;
}

.menu__starter .order__spin .check,
.menu__maincourse .order__spin .check,
.menu__deserts .order__spin .check {
  font-size: 20px;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

.menu__starter .order__spin .check:hover,
.menu__maincourse .order__spin .check:hover,
.menu__deserts .order__spin .check:hover {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
/*# sourceMappingURL=main.css.map */