#btn{
    width: 190px;
    font-size:small;
    border: none;
    border-radius: 35px;
    padding: 15px;
    box-shadow: $shadow-ligthen;
    background: linear-gradient(to bottom right, lighten($clr-secondary,5)10%,darken($clr-primary,10)100%);
    color: #fff;
    position: relative;
    z-index: 1;
    &:hover {
        &::after{
            opacity: 1;
        }
    }
    &::after{
        border: none;
        border-radius: 35px;
        box-shadow: $shadow-darken;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: linear-gradient(to bottom right, lighten($clr-secondary,15)20%,darken($clr-primary,1)70%);
        z-index: -1;
        opacity: 0;
        transition: opacity 250ms;
    }

}


/*set button restaurant*/
.btn_resto{
    background-color: $clr-bg-lighten;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}