/*loader*/

.loader {
    display: flex;
    justify-content: center;
    pointer-events: none;

    &::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        z-index: 999;
        animation: loading 1500ms forwards ease;
    }

    &__l--1 {
        position: absolute;
        z-index: 999;
        top: 50%;
        left: 28%;
        font-family: $police-logo-title;
        text-shadow: 20px 20px 10px $clr-primary;
        font-size: 40px;
        color: rgba(0, 0, 0, 0.469);
        animation: loading 1500ms ease both, l $anim-dur backwards infinite;
    }

    &__l--2 {
        position: absolute;
        z-index: 999;
        top: 50%;
        left: 35%;
        font-family: $police-logo-title;
        text-shadow: 20px 20px 10px $clr-primary;
        font-size: 40px;
        color: rgba(0, 0, 0, 0.569);
        animation: loading 1500ms ease both, l $anim-dur backwards;
    }

    &__l--3 {
        position: absolute;
        z-index: 999;
        top: 50%;
        left: 43%;
        font-family: $police-logo-title;
        text-shadow: 20px 20px 10px $clr-primary;
        font-size: 40px;
        color: rgba(0, 0, 0, 0.669);
        animation: loading 1500ms ease both, l $anim-dur backwards infinite;
    }

    &__l--4 {
        position: absolute;
        z-index: 999;
        top: 50%;
        left: 50%;
        font-family: $police-logo-title;
        text-shadow: 20px 20px 10px $clr-primary;
        font-size: 40px;
        color: rgba(0, 0, 0, 0.769);
        animation: loading 1500ms ease both, l $anim-dur backwards;
    }

    &__l--5 {
        position: absolute;
        z-index: 999;
        top: 50%;
        left: 56%;
        font-family: $police-logo-title;
        text-shadow: 20px 20px 10px $clr-primary;
        font-size: 40px;
        color: rgba(0, 0, 0, 0.669);
        animation: loading 1500ms ease both, l $anim-dur backwards infinite;
    }

    &__l--6 {
        position: absolute;
        z-index: 999;
        top: 50%;
        left: 61%;
        font-family: $police-logo-title;
        text-shadow: 20px 20px 10px $clr-primary;
        font-size: 40px;
        color: rgba(0, 0, 0, 0.569);
        animation: loading 1500ms ease both, l $anim-dur backwards;
    }

    &__l--7 {
        position: absolute;
        z-index: 999;
        top: 50%;
        left: 65%;
        font-family: $police-logo-title;
        text-shadow: 20px 20px 10px $clr-primary;
        font-size: 40px;
        color: rgba(13, 13, 13, 0.469);
        animation: loading 1500ms ease both, l $anim-dur backwards;
    }

    &__l--8 {
        position: absolute;
        z-index: 999;
        top: 50%;
        left: 70%;
        font-family: $police-logo-title;
        text-shadow: 20px 20px 10px $clr-primary;
        font-size: 40px;
        color: rgba(0, 0, 0, 0.369);
        animation: loading 1500ms ease both, l $anim-dur backwards infinite;
    }

    .knife {
        position: absolute;
        top: 30%;
        z-index: 999;
        font-size: 100px;
        text-shadow: 20px 20px 15px $clr-primary;
        color: rgba(0, 0, 0, 0.67);
        animation: loading 1500ms ease both, knife1 3000ms both;
    }

    .knife2 {
        position: absolute;
        top: 65%;
        z-index: 999;
        font-size: 100px;
        text-shadow: 20px 20px 15px $clr-primary;
        color: rgba(0, 0, 0, 0.67);
        animation: loading 3000ms ease both, knife2 3000ms both;
    }
}

/*keyframes loader*/

@keyframes l {
    0% {
        transform: scaleY(0.5);
    }

    100% {
        transform: scaleY(2.0);
    }
}

@keyframes loading {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes knife1 {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }

    50% {
        opacity: 1;
        transform: translateY(50%);
    }

    100% {
        opacity: 0;
        transform: translateY(-50%);
    }
}

@keyframes knife2 {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    50% {
        opacity: 1;
        transform: translateY(-50%);
    }

    100% {
        opacity: 0;
        transform: translateY(50%);
    }
}

/*-----------------end loader--------------*/