/*dimension*/
*{ box-sizing: border-box;}


/*general*/
body{
    max-width: 600px;
    min-width: 300px;
    margin: auto;
    padding: 0;
    background-color: white;
}


.card__img{
    max-width: 100%;  
}
img{
    max-width: 100%;
}

li{
    list-style-type: none;
}
a{
    text-decoration: none;
}


