/*dimension*/
*{ box-sizing: border-box;}


/*general*/
body{
    max-width: 500px;
    min-width: 300px;
    margin: auto;
    padding: 0;
    background-color: white;
    cursor: pointer;
}

li{
    list-style-type: none;
}
a{
    text-decoration: none;
}


