/*dimension*/
* {
    box-sizing: border-box;
}


/*general*/
body {
    max-width: 768px;
    margin: auto;
    padding: 0;
}

h2 {
    font-size: larger;
    font-family: $police-txt;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}