/*web site colors*/
$clr-primary:#9356dc;
$clr-secondary:#ff79DA;
$clr-tertiary:#99e2d0;

/*background font site*/
$clr-bg:#e1e3e5b3;
$clr-bg-lighten:#e1e3e528;
$clr-bg-primary-lighten:#9256dc3a;

/*box shadow*/
$shadow:0 5px 5px rgba(0, 0, 0, 0.659);
$shadow-darken:0 8px 10px rgba(0, 0, 0, 0.599);
$shadow-ligthen:0 5px 10px rgba(0, 0, 0, 0.222);

/*typography*/
$police-txt:"roboto","sans-serif";
$police-logo-title:"shrikhand","sans-serif";