/*web site colors*/
$clr-primary:#9356dc;
$clr-secondary:#ff79DA;
$clr-tertiary:#99e2d0;

/*background font site*/
$clr-bg:#d1d5da;
$clr-bg-lighten:#d1d5daa7;

/*typography*/
$police-txt:"roboto","sans-serif";
$police-logo-title:"shrikhand","sans-serif";