

/*----------home page------------------*/

/*section1/research*/

#location{
    width: 100%;
    height: 5%;
    padding: 15px;
    background-color: $clr-bg;
    display: flex;
    justify-content: center;
    span{
        display: flex;
        justify-content: center;
    }
    input{
        width: 65%;
        text-align: center;
        border: none;
        background-color: #e1e3e53b;
        font-family: $police-txt;
        font-size:small;  
        color: $clr-txt-input;  
    }
    i{
        font-size: large;
        color: $clr-txt-input;
    }
}

/*section2/presenation*/

#intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 50px 10px;
    font-family: $police-txt;
    background-color: $clr-bg-lighten;
    .intro__title{
        margin: 0;
        font-size:larger;
        text-align: center;
        padding-top: 20px;
    }
    .intro__description{
        padding: 0 10px 20px 10px;
        font-size:medium;
        color: $clr-txt-subtitle;
        text-align: center;
    }
}

/*section3/tutorial*/

#tuto{
    width: 100%;
    height: 20%;
    font-family: $police-txt;
    padding: 10px;
    nav{
        width: 100%;
        .tuto__list{
            width: 98%;
            padding: 10px;
            &__btn{
                font-size:small;
                padding: 15px 0 15px 0;
                background-color: $clr-bg-lighten;
                border: none;
                border-radius: 20px;
                box-shadow: $shadow-ligthen;
                margin-bottom: 20px;
                &:hover{
                    background-color: $clr-bg-primary-lighten;
                    box-shadow: $shadow-darken;
                }
                &:hover i{
                    color: $clr-primary;
                }
                .number{
                    font-size:12px;
                    background-color: $clr-primary;
                    color: white;
                    border: none;
                    border-radius: 100px;
                    width: 20px;
                    height: 20px;
                    margin-left: -10px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    }
                a{
                    display: flex;
                    align-items: center;
                }
                i{
                    font-size: large;
                    color: $clr-txt-icon;
                    padding:0 20px 0 20px;    
                }
                span{
                    font-size:small;
                    margin: 0;
                    
                }
                
            }
        }
    
        }
    }
    
/*section4/restaurants*/

#restaurants{
    font-family: $police-txt;
    width: 100%;
    height: 65%;
    background-color: $clr-bg-lighten;
    padding: 20px;
    .card{
        border:none;
        width: 97%;
        border-radius: 20px;
        background-color: #fff;
        margin-bottom: 25px;
        box-shadow: $shadow-ligthen;
        position: relative;
        &:hover{
            box-shadow: $shadow-darken;
        }
        &__img{
            border: none;
            border-radius: 20px 20px 0 0;
            width: 100%;
            height: 135px;
            object-fit:cover;
        }
        &__new{
            margin: 0;
            width: 80px;
            top: 10px;
            right: 10px;
            background-color: $clr-tertiary;
            text-align: center;
            color: $clr-txt-new;
            font-weight: bold;
            padding: 8px;
            border: none;
            border-radius: 3px;
            position: absolute;
        }
        #palette,#note,#francaise,#delice{
            margin: 0;
            font-size: large;
            padding: 10px 0 2px 10px;
            color: black;
        }
        &__location{
            margin: 0;
            padding: 0 0 20px 10px;
            color: $clr-txt-subtitle;
            font-size: medium;
            font-weight: lighter;
        }
        .heart{
            fill: orangered;
            width: 24px;
            height: 27px;
            position: absolute;
            bottom: 35px;
            right: 15px;  
            z-index: 1;
        }
        .heart:hover{
        background: $clr-primary;
    }

    }
}    



