/*------------restaurants pages-----------------------*/

/*header cf--->layouts/header*/

/*section1/picture + restaurant name + heart--->cf components/animationheart */
/* + animationgradual cf--->components/animationsgradualonset*/
.picture {
    height: 11%;
    position: relative;

    img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    .title {
        border: none;
        @include flex-row-spacebetween;
        background-color: $clr-bg-lighten;
        border-radius: 35px 35px 0 0;
        position: absolute;
        width: 100%;
        margin-top: -50px;

        &__resto {
            font-family: $police-logo-title;
            font-size: x-large;
            font-weight: lighter;
            padding: 20px 0 0 20px;
            margin: 0;
            position: relative;
        }


    }
}

/*section2/3/4 menu/starter/main course/deserts ---> cf components/animationspinandcheck*/

/*footer cf--->layouts/footer*/