/*header home page*/

header {
    box-shadow: $shadow-darken;
    padding: 20px 0 15px 0;

    h1 {
        margin: 0;
        text-align: center;

        img {
            width: 40%;
        }
    }
}

/*header restaurants pages*/

#header_resto {
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        display: flex;
        justify-content: center;
    }

    .arrow {
        font-size: large;
        color: black;
    }

}